[v-cloak] {
    display: none;
}

//过渡动画样式
@mixin link-transition($time) {
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    transition: all $time ease-out;
}

@font-face {
    font-family: 'NotoSansHans-Regular';
    src: url(../fonts/NotoSansHans-Regular.ttf);
    src: url(../fonts/NotoSansHans-Regular.eot);
}

body {
    background-color: #eee;
    font-family: 'NotoSansHans-Regular', "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

header {
    background-color: #eee;
    z-index: 10;
    position: fixed;
    width: 100%;
    .logo {
        text-decoration: none;
        display: block;
        height: 35px;
        width: 120px;
        background: {
            image: url('../images/Campfire_black.png');
            repeat: no-repeat;
            position: left center;
            size: 35px 35px;
        }
        padding-left: 45px;
        margin: 15px 50px 15px 5%;
        p {
            font: {
                size: 16px;
                weight: 300;
            }
            margin: 0;
        }
        p.sub {
            font-size: 12px;
            color: #aaa;
        }
    }
    .time_panel {
        position: absolute;
        top: 50%;
        right: 80px;
        color: #aaa;
        font-weight: 300;
    }
    .dl {
        height: 1px;
        width: 95%;
        background-color: #bbb;
        margin: 0 auto;
    }
}

main {
    min-height: 600px;
    .card_group {
        padding: 120px 20px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .works_card {
            display: block;
            width: 200px;
            height: 200px;
            margin: 80px 45px;
            flex-shrink: 0;
            border: #eee 3px solid;
            padding: 8px;
            position: relative;
            text-decoration: none;
            @include link-transition(0.2s);
            .card_title,
            .card_description {
                position: absolute;
                font-weight: 300;
                @include link-transition(0.2s);
            }
            .card_title {
                opacity: .3;
                color: #444;
                top: -70px;
            }
            .card_description {
                opacity: 0;
                color: #888;
                top: 220px;
                max-height: 85px;
                overflow: hidden;
            }
            img {
                display: block;
                width: 100%;
                opacity: .85;
                @include link-transition(0.2s);
                box-shadow: #d6d6d6 0 0 20px;
            }
            &:hover {
                @include link-transition(0.2s);
                border-color: #d2d2d2;
                .card_title,
                .card_description,
                img {
                    opacity: 1;
                    @include link-transition(0.2s);
                }
                img {
                    box-shadow: #ccc 0 0 30px;
                }
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    padding: 10px 5px 3px;
    .avatar {
        width: 70px;
        display: inline-block;
        text-decoration: none;
        color: #444;
        height: 35px;
        background: {
            image: url(../images/avatar.jpg);
            repeat: no-repeat;
            position: left center;
            size: 35px 35px;
        }
        padding-left: 45px;
        margin: 6px 50px 10px 5%;
        font-weight: 300;
        p {
            color: #888;
            font-size: 10px;
            margin: 0;
        }
    }
    p.info_mes {
        float: right;
        font-size: 12px;
        background-color: #ddd;
        padding: 4px;
        margin-right: 8px;
        color: #888;
    }
    ul.share_group {
        float: right;
        margin: 3px 5% 0 0;
        padding: 0;
        a {
            color: #888;
            text-decoration: none;
            @include link-transition(0.2s);
            li {
                border-radius: 50px;
                display: inline-block;
                margin: 0 10px;
                padding: 10px;
                background-color: #eee;
                height: 20px;
                width: 20px;
                line-height: 20px;
                text-align: center;
            }
            &:hover li {
                color: #fff;
                @include link-transition(0.2s);
            }
            &:nth-child(1):hover li {
                background-color: #545454;
            }
            &:nth-child(2):hover li {
                background-color: #17b2ec;
            }
        }
    }
}

@media screen and (max-device-width:1024px) {
    main .card_group .works_card .card_description,
    main .card_group .works_card .card_title,
    main .card_group .works_card img {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    main .card_group {
        justify-content: space-around;
    }
    main .card_group .works_card {
        margin: 80px 30px;
    }
}

@media screen and (max-width: 700px) {
    footer p.info_mes {
        display: none;
    }
    footer ul.share_group a li.fa-github {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    header {
        text-align: center;
        .time_panel {
            display: none;
        }
        .logo {
            display: inline-block;
            text-align: left;
        }
    }
    main {
        .card_group {
            padding-top: 75px;
        }
    }
}