//--Vue
[v-cloak] {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

//--
//过渡动画样式
@mixin link-transition($time) {
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    transition: all $time ease-out;
}

@font-face {
    font-family: 'NotoSansHans-Regular';
    src: url(../fonts/NotoSansHans-Regular.ttf);
    src: url(../fonts/NotoSansHans-Regular.eot);
}

body {
    background-color: #eee;
    font-family: 'NotoSansHans-Regular', "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

header {
    background-color: #eee;
    z-index: 10;
    position: fixed;
    width: 100%;
    .logo {
        text-decoration: none;
        display: block;
        height: 35px;
        width: 120px;
        background: {
            image: url('../images/Campfire_black.png');
            repeat: no-repeat;
            position: left center;
            size: 35px 35px;
        }
        padding-left: 45px;
        margin: 15px 50px 15px 5%;
        p {
            font: {
                size: 16px;
                weight: 300;
            }
            margin: 0;
        }
        p.sub {
            font-size: 12px;
            color: #aaa;
        }
    }
    .time_panel {
        position: absolute;
        top: 50%;
        right: 80px;
        color: #aaa;
        font-weight: 300;
    }
    .dl {
        height: 1px;
        width: 95%;
        background-color: #bbb;
        margin: 0 auto;
    }
}

main {
    padding: 135px 20px 120px;
    position: relative;
    min-height: 600px;
    box-sizing: border-box;
    .search_box {
        width: 270px;
        height: 38px;
        position: absolute;
        margin: auto;
        top: 95px;
        left: 0;
        right: 0;
        @include link-transition(0.2s);
        .clear_btn {
            position: absolute;
            width: 12px;
            height: 12px;
            right: 8px;
            top: 13px;
            background-color: transparent;
            border: none;
            background-image: url('../images/clear.png');
            background-size: 12px;
            background-repeat: no-repeat;
            outline: none;
            cursor: pointer;
        }
        .key_box {
            width: 100%;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            padding: 5px 25px 5px 25px;
            overflow: auto;
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom: #888 1px solid;
            background-image: url('../images/search.png');
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 16px;
            color: #222;
            @include link-transition(0.2s);
            font-weight: 300;
            opacity: .5;
            &:focus {
                opacity: 1;
            }
            &::-ms-clear {
                display: none;
            }
        }
    }
    .category {
        .category_title {
            margin: 0;
            color: #888;
            font-weight: 300;
            padding: 10px 50px;
            cursor: default;
            span {
                font-size: .8em;
                color: #c59c99;
                margin-left: .6em;
            }
        }
        .card_group {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .works_card {
                display: block;
                width: 200px;
                height: 200px;
                margin: 55px 45px 85px;
                flex-shrink: 0;
                border: #eee 3px solid;
                padding: 8px;
                position: relative;
                text-decoration: none;
                outline: none;
                @include link-transition(0.2s);
                .card_title,
                .card_description {
                    position: absolute;
                    font-weight: 300;
                    @include link-transition(0.2s);
                    
                }
                .card_title {
                    opacity: .3;
                    color: #444;
                    top: -52px;
                    margin: 0;
                    .title_text {
                        white-space: nowrap;
                        max-width: 180px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    i {
                        margin-left: .5em;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .card_description {
                    opacity: 0;
                    color: #888;
                    top: 215px;
                    max-height: 85px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                img {
                    display: block;
                    width: 100%;
                    opacity: .85;
                    @include link-transition(0.2s);
                    box-shadow: #d6d6d6 0 0 20px;
                }
                &:hover,
                &:active {
                    @include link-transition(0.2s);
                    border-color: #d2d2d2;
                    .card_title,
                    .card_description,
                    img {
                        opacity: 1;
                        @include link-transition(0.2s);
                    }
                    .card_title .title_text {
                        overflow: visible;
                    }
                    img {
                        box-shadow: #ccc 0 0 30px;
                    }
                }
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    padding: 10px 5px 3px;
    .avatar {
        width: 72px;
        display: inline-block;
        text-decoration: none;
        color: #444;
        height: 36px;
        background: {
            image: url(../images/avatar.png);
            repeat: no-repeat;
            position: left center;
            size: 36px 36px;
        }
        padding-left: 45px;
        margin: 6px 10px 10px 5%;
        font-weight: 300;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        p {
            color: #888;
            font-size: 10px;
            margin: 0;
        }
    }
    p.info_mes {
        float: right;
        font-size: 12px;
        background-color: #ddd;
        padding: 4px;
        margin-right: 8px;
        color: #888;
        font-family: 'NotoSansHans-Regular', "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    }
    ul.share_group {
        float: right;
        margin: 3px 5% 0 0;
        padding: 0;
        a {
            display: inline-block;
            color: #888;
            text-decoration: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            outline: none;
            @include link-transition(0.2s);
            li {
                border-radius: 50px;
                display: inline-block;
                margin: 0 10px;
                padding: 10px;
                background-color: #eee;
                height: 20px;
                width: 20px;
                line-height: 20px;
                text-align: center;
            }
            &:hover li,
            &:active li {
                color: #fff;
                @include link-transition(0.2s);
            }
            &:nth-child(2):hover li,
            &:nth-child(2):active li {
                background-color: #545454;
            }
            &:nth-child(3):hover li,
            &:nth-child(3):active li {
                background-color: #17b2ec;
            }
            &:nth-child(4):hover li,
            &:nth-child(4):active li {
                background-color: #e91e63;
            }
            &:nth-child(1) {
                cursor: pointer;
            }
            &:nth-child(1):hover li,
            &:nth-child(1):active li {
                background-color: #0A9C0D;
            }
        }
    }
}

@media screen and (max-device-width:1024px) {
    main .category .card_group .works_card {
        .card_description,
        .card_title,
        img {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        .search_box {
            width: 200px;
        }
        .category {
            .card_group {
                justify-content: space-around;
                .works_card {
                    margin: 55px 30px 80px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    footer {
        p.info_mes {
            display: none;
        }
        ul.share_group a li.fa-github,
        ul.share_group a li.fa-question {
            display: none;
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        text-align: center;
        .time_panel {
            display: none;
        }
        .logo {
            display: inline-block;
            text-align: left;
        }
    }
    main {
        padding-top: 80px;
        .search_box {
            display: none;
        }
        .category {
            .category_title {
                display: none;
            }
            .card_group {
                padding-top: 0;
            }
        }
    }
}